@charset "utf-8";
/* CSS Document */

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-image: url(img/grid.gif);
	background-color:#fff;
	color:#000000;
	font-family: "Times New Roman", Times, serif;
}

body.flash {
	background-image: url(img/flicker.gif);
}

td.flash {
	color:#ffffff;
	background-image: url(img/flicker.gif);
}

td.e2 {
	color:#ffffff;
	background-image: url(img/flicker.gif);
    text-align: center; 
    vertical-align: middle;
}

td.e {
	color:#ffffff;
	background-image: url(img/flicker.gif);
    text-align: center; 
    vertical-align: middle;
}

a:link, a:visited, a:active {
	color: black;
	text-decoration: none;
}

a:hover {
	color: white;
	text-decoration: none;
}

#e {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

#video {
	width:100%;
	margin:0;
	padding:0px 0px 5px 0px;
	text-align:center;
	font-size:35px;
	margin-left:auto;
	margin-right:auto;
}

#video iframe {
	border-color: #000000;
	border-style:none;
	border-width:0px;
	margin-right: 0 auto;
}

#construction {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	padding-bottom: 10;
	padding-top: 10;
}
	
#enter {
	font-family: "Times New Roman", Times, serif;
	font-size: 20px;
	color: #FFFFFF;
	margin: 0;
	position: absolute;
	top: 25%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}
#dog {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}